
.btn-primary {
    background-color: #FF9494;
    color: white;
    font-weight: 600;
    border: none;
}
.btn-primary:hover {
    background-color: white;
    color: black;
    font-weight: 600;
    border: 1px solid #FF9494;
    
}
h1 {
    color: #FF9494;
    font-weight: 600px;
}
.form-label {
    color: black;
    font-weight: 600;
}